* {
  background-color: #f7f5f2;
  color: #1a1918;
  font-size: large;
  font-family: "Gentium Plus", serif;
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}