<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Victim Ages Chart</title>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2>Victim Ages Across All Cases</h2>
  <img src="{{ url_for('victim_ages_chart') }}?t={{ now }}" alt="Victim Ages Chart">
    <br>
    <br>
    <h2>Victim Ethnicity Across All Cases</h2>
  <img src="{{ url_for('victim_ethnicity_chart') }}?t={{ now }}" alt="Victim Ethnicity Chart" />
    <br>
    <br>
    <h2>Victim Home Postcodes at Time of Offence</h2>
    <img src="{{ url_for('victim_postcode_map') }}?t={{ now }}" alt="Victim Postcode Map" />
    <br>
    <br>
  </body>
</html>
